<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nodepop</h1>
    <nav>
      <ul>
        <li>
            <a href="/">Home</a>
            <a href="/tags">Ver todos los tags</a>
            <a href="/crear">Crear Anuncio</a>
        </li>
      </ul>
    </nav>
    <main>
      <h2>Listado de tags</h2>

        <% tags.forEach( tag => {%>

          <li>
            <a href="http://localhost:3000/?tags=<%= `${tag}`  %>"><%= `${tag}`  %></a>
          </li>

        <%}); %>
    </main>

  </body>
</html>